/* 
 * Site Colors:
 * 
 * #16191C (22 25 28 RGB, 210 21.43 11 HSB)
 * #424052 (66 64 82 RGB, 249 22 32 HSB)
 * 
 */

body {
font-family:Consolas;
color:white;
background-color:#16191C;}
p {color:white;}
h1 {color:white;}
h2 {color:white;}
h3 {color:white;}
h4 {color:white;}
h5 {color:white;}
h6 {color:white;}
hr {color:white;}
article {color:white;}
section {color:white;}
a {color:red;}
.imglnk {color:white;}
br {line-height:75%;}
br.br1 {line-height:75%;}
br.br2 {line-height:150%;}
br.br3 {line-height:225%;}
br.br4 {line-height:300%;}
br.brsub {line-height:100%;}



header {
	background:rgb(22, 25, 28, 0.5);
	position:fixed;
	top:0px;
	left:0px;
}

#wrapper {
	width:100vw;
}

.page-label {position:fixed; top:10px;
} #home.page-label {left:47.46%;
} #shr.page-label {left:27.4%;}

#mainsitelnk {
	text-decoration:none;
	color:white;
	position:fixed;
	top:4px;
	left:44.45%;
}

#src-lnk {
	position:fixed;
	bottom:1%;
	right:1%;
	color:gray;
	text-decoration:none;
}
